body {
  display: none;
  width: 100%;
  margin: auto;
  margin-top: 25%;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}





.column {
  z-index: 1;
  background: #FFFFFF;
  max-width: 75%;
  margin: 0 auto 10px;
  padding: 2px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.column button {
  font-family: "Roboto", sans-serif;
  display: inline;
  text-transcolumn: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 20%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.column button:hover {
  background: #43A047;
}
